<article id="single-post" class="post">
  <div class="post-head">
    <a href="/dashboard/edit/post/{{id}}">{{title}}</a>
    <p id="post-username">Posted by: {{user.username}} on {{format_date created_at}}</p>
  </div>
</article>