<form id="edit-form">
<article id="single-post" class="post">
  <div class="post-head">
    
    <input for="post-title" id="title" placeholder="Post Title"value="{{post.title}}">
  </div>
  <div>
    <input for="post-title" placeholder="Post Content"id="post-content-edit"value="{{post.post_content}}">
  </div>
</article>
</form>

<button href="/dashboard/" id="create-post-button">Create Post +</button>

<script src="/javascript/add-post.js"></script>