    <form id="login-form">
    <h1>Login</h1>
    <h2>Username</h2>
      <label for="username-login"></label>
      <input type="text" id="username-login" />
    <h2>Password</h2>
      <label for="password-login"></label>
      <input type="password" id="password-login" />
    <div id="login-button">
      <button type="submit">Login</button>
    </div>
    <a href="/signup" id="signup-link">Signup Instead</a>
  </form>
  <script src="/javascript/login.js"></script>
