  <form id="signup-form">
      <h1>Signup</h1>
      <h2>Username</h2>
        <label for="username-signup"></label>
        <input type="text" id="username-signup" />
      <h2>Password</h2>
        <label for="password-signup"></label>
        <input type="password" id="password-signup" />
    <div id="login-button">
      <button type="submit">Signup</button>
    </div>
  </form>
  <script src="javascript/signup.js"></script>