body {
  margin: 0;
  padding: 0;
}

#single-post {
  border-style: solid;
  margin: 1rem;
}

#single-post a {
  text-decoration: none;
  color: lightgray;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

#post-content {
  padding: 1rem;
  color: black;
}

#post-username {
  color: lightgray;
  padding-right: 1rem;
}

#single-comment {
  border-style: solid;
  margin: 1rem;
}

.comment-head p {
  color: lightgray;
  padding: 1rem;
  font-size: 1.1rem;
}

.comment-text {
  padding: 1rem;
  color: black;
}

.comment-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  background-color: rgb(20, 10, 8);
}

.post-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  background-color: rgb(20, 10, 8);
}

.post-list {
  list-style: none;
}

header {
  background-color: rgb(20, 10, 8);
  margin: 0;
}

.wrapper {
  background-color: rgb(192, 218, 188);
}

nav {
  padding: 1rem;
}

nav a {
  padding-right: 3rem;
  text-decoration: none;
  color: lightgray;
  font-size: 2rem;
}

nav h1 {
  background-color:rgb(192, 218, 188);
  padding: .5rem;
  font-size: 3rem;
  display: table;
  border-bottom-style: outset;
  border-right-style: outset;
  border-width: .5rem;
  border-radius: 5px;
}

#comment-heading {
  margin-left: 1rem;
}

#comment-username {
  font-size: 1.4rem;
}

#login-form {
  border-style: solid;
  margin: 1rem;
}

#login-form h1 {
  margin: 0;
  background-color: rgb(20, 10, 8);
  color: lightgray;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}