body {
  margin: 0;
  padding: 0;
  background-color: rgb(192, 218, 188);
}

#single-post {
  border-style: solid;
  margin: 1rem;
}

#single-post a {
  text-decoration: none;
  color: lightgray;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

#title {
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 1rem;
}

#post-content-edit {
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  height: 5rem;
  width: 60%;
  margin: 1rem;
}

#post-content {
  padding: 1rem;
  color: black;
}

#post-username {
  color: lightgray;
  padding-right: 1rem;
}

#single-comment {
  border-style: solid;
  margin: 1rem;
}

.comment-head p {
  color: lightgray;
  padding: 1rem;
  font-size: 1.1rem;
}

.comment-text {
  padding: 1rem;
  color: black;
}

.comment-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  background-color: rgb(20, 10, 8);
}

.post-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  background-color: rgb(20, 10, 8);
}

.post-list {
  list-style: none;
}

header {
  background-color: rgb(20, 10, 8);
  margin: 0;
}

.wrapper {
  background-color: rgb(192, 218, 188);
}

nav {
  padding: 1rem;
}

nav a {
  padding-right: 3rem;
  text-decoration: none;
  color: lightgray;
  font-size: 2rem;
}

nav h1 {
  background-color:rgb(192, 218, 188);
  padding: .5rem;
  font-size: 3rem;
  display: table;
  border-bottom-style: outset;
  border-right-style: outset;
  border-width: .5rem;
  border-radius: 5px;
}

#comment-heading {
  margin-left: 1rem;
}

#comment-username {
  font-size: 1.4rem;
}

#login-form {
  border-style: solid;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#login-form input {
  padding: 1rem;
  margin: 1rem;
}

#login-form h1 {
  margin: 0;
  background-color: rgb(20, 10, 8);
  color: lightgray;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

#signup-form {
  border-style: solid;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#signup-form input {
  padding: 1rem;
  margin: 1rem;
}

#signup-form h1 {
  margin: 0;
  background-color: rgb(20, 10, 8);
  color: lightgray;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

#login-button {
  margin: 1rem auto;
  width: 50%;
  position: relative;
}

#login-button button {
  color: white;
  background-color: rgb(88, 88, 88);
  cursor: pointer;
  padding: 1rem, 0;
  width: 100%;
}

#signup-button {
  margin: 1rem auto;
  width: 50%;
  position: relative;
}

#signup-button button {
  color: white;
  background-color: rgb(88, 88, 88);
  cursor: pointer;
  padding: 1rem, 0;
  width: 100%;
}

#create-post-button {
  background-color: rgb(20, 10, 8);
  border: solid;
  border-radius: 30%;
  border-color:rgb(20, 10, 8);
  color: white;
  padding: .5rem .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  width: 20%;
  cursor: pointer;
}

#edit-post-button {
  background-color: rgb(20, 10, 8);
  border: solid;
  border-radius: 30%;
  border-color:rgb(20, 10, 8);
  color: white;
  padding: .5rem .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  width: 20%;
  cursor: pointer;
}

#delete-post-button {
  background-color: rgb(20, 10, 8);
  border: solid;
  border-radius: 30%;
  border-color:rgb(20, 10, 8);
  color: white;
  padding: .5rem .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  width: 20%;
  cursor: pointer;
}
